body{
    background-color:palevioletred;
  }
  
  body {
    color: purple;
  }
  
  h1 {
    color: purple;
  }

  p span{
    color: purple;
  }
  
  p:nth-child(1) span{
    color:blue;
  }
  
  
  main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  #statistics{
    display: flex;
    flex-flow: row wrap;
  }
  
  #statistics div{
    margin: 0 10px;
    border: solid 1px plum;
    padding: 20px;
  }